* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1{
    font-family: sans-serif;
}
p{
    font-family: arial;
}
body{
    background-color: whitesmoke;
}

a i {
    font-size: 3.5vw;
}
i:hover{
    color: wheat;
}
main h1{
    position: relative;
    left: 1.5vw;
    font-size: 3.5vw;
    font-family: sans-serif;
}
header nav{
    height: 4.5vw;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
header .navbar a{
    margin-left: 2.8vw;
    font-size: 1.5vw;
    letter-spacing: .25vw;
    color: black;
    text-decoration: none;
    transition: all ease-in-out .5s;
}
header a:hover{
    color: crimson;
}
header a .logo {
    letter-spacing: .5vw;
    color: black;
    font-size: 4.5vw;
    float: left;
}
.navbar {
    margin-right: 1.5vw;
    float: right; 
    vertical-align: middle; 
    padding-top: 1.1vw;
}
main table{
    margin-top: 2vw;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
main {
    margin-top: 2vw;
}
main p{
    position: relative;
    left: 2vw;
    font-size: 1.1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main table button{
    position: relative;
    left: 2vw;
    padding: .8vw;
    background: crimson;
    color: whitesmoke;
    align-items: center;
    border: none;
    border-radius: .5vw;
    cursor: pointer;
    transition: all ease-in-out .45s;
}
main img{
    position: relative;
    right: 3vw;
    padding: 3vw 0 3vw 0;
}
main form{
    padding: 3vw 25vw 3vw 25vw;
}
input[type="text"]:focus, 
input[type="email"]:focus{
    width: 75%;
}
.theInput{
    border: none;
    width: 50%;
    padding: .8vw;
    background-color: none;
    border-bottom: .1vw solid black;
    transition: width .35s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
}
.theInput:focus{
    border: none;
    border-bottom: .1vw solid black;
    background: wheat;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 20px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
}

label, form p{
    font-size: 1.3vw;
    font-family: Arial;
}
form p{
    text-align: center;
    font-size: 1.5vw;
}
input[type="radio"]{
    margin-left: 2vw;
}
form button{
    width: 31.5vw;
    font-size: 1.3vw;
    padding: 1.1vw;
    border-radius: 1.2vw;
    background-color: crimson;
    cursor: pointer;
    transition: all ease-in-out .45s;
}
form button:hover,
main table button:hover {
    padding: 1.3;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 20px,
    rgba(0, 0, 0, 0.3) 0px 6px 6px;
}


footer{
    background-color: black;
    margin-top: 2vw;
    color: whitesmoke;
}
footer p span{
    font-size: 1.1vw;
    color: whitesmoke;
    background: rgb(77, 73, 73);
    width: 100%;
}
footer a{
    margin-left: 2.5vw; 
    font-size: 2vw; 
    color: crimson;
}
footer iframe{
    position: relative;
    right: 2vw;
    padding: 2vw 0 2vw 0;
}
footer h2{
    position: relative;
    left: 1vw;
    font-family: sans-serif;
}
footer table p{
    position: relative;
    left: 2vw;
    font-family: arial;
    font-size: 1.1vw;
}
footer p span a{
    margin-left: 2vw;
    font-size: 1.2vw;
}
